.git
.gitignore
.idea
.vscode
*.md
LICENSE
.DS_Store
Thumbs.db
node_modules
*.log
.env
.env.local
vendor/
bin/
dist/
build/
*.iml
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.vsix
Dockerfile
docker-compose.yml
